/* * Login Page Style */

/* Center the login container */
.login-container {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px); /* 120px header + 60px footer */
    padding: 10px;
    width: 100%;
}

/* Style the login card */
.login-card {
    background: #ffffff;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 8px;
    box-shadow: 4px 8px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px; /* Adjust width as needed */
    margin-top: -100px;
    
}

/* Increase title size for better readability */
.login-card h1 {
    font-size: 24px; /* Professional size */
    font-weight: bold;
    margin-bottom: 15px;
    color: #000000;
}

/* Make input fields slightly larger */
.login-card input[type="text"],
.login-card input[type="password"] {
    width: 90%;
    padding: 10px; /* Moderate size, not too big */
    font-size: 16px; /* Professional text size */
    border: 1px solid #c0bfbf;
    background: #fdfdfd;
    border-radius: 4px;
    margin-bottom: 9px; /* Space between inputs */
    margin-left: -9px;
}

/* Make the login button simple & clean */
.login-card button {
    padding: 10px 14px; /* Adjust size */
    font-size: 14px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.login-card button:hover {
    background-color: #002244; /* Slightly darker hover */
}
.login-card label, input {
    color: #000000;
}

.login-wrapper {
    height: 100vh;
    width: 100%;
    background-image: url('/img/CineNiche2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }